<template>
  <div class="container">
    <q-card>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator>
        <q-tab name="unassigned" icon="phone_callback" label="Incoming call">
          <q-badge :label="stats.unassigned" floating></q-badge>
        </q-tab>
        <q-tab name="assigned" icon="person" label="Assigned">
          <q-badge :label="stats.assigned" floating></q-badge>
        </q-tab>
        <q-tab name="closed" icon="done" label="Closed">
          <q-badge :label="stats.closed" floating></q-badge>
        </q-tab>
      </q-tabs>
      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="unassigned">
          <call-list :filters="callsUnassignedFilters" />
        </q-tab-panel>
        <q-tab-panel name="assigned">
          <q-list>
            <call-list :filters="callsAssignedFilters" />
          </q-list>
        </q-tab-panel>
        <q-tab-panel name="closed">
          <call-list :filters="callsClosedFilters" />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="black" :to="{ name: 'callsCreate', params: { id: 'create' } }" />
    </q-page-sticky>
  </div>
</template>

<script>
import CallList from '../components/CallList'

export default {
  name: 'Calls',
  data () {
    return {
      tab: 'unassigned',
      callsUnassignedFilters: [{
        name: 'Status',
        property: 'status',
        filter: 'equal',
        value: 'unassigned' }],
      callsAssignedFilters: [{
        name: 'Status',
        property: 'status',
        filter: 'equal',
        value: 'assigned' }],
      callsClosedFilters: [{
        name: 'Status',
        property: 'status',
        filter: 'equal',
        value: 'closed' }]
    }
  },
  computed: {
    stats () {
      return this.$store.getters['calls/stats']
    }
  },
  components: {
    CallList
  }
}
</script>
